
.navBar{
  font-family: 'Noto Sans KR', sans-serif;
  


}

.footer{
  text-align: left;
  display: block;
  justify-content: flex-end;
  align-items: stretch;
  margin: 0px;
  width: fit-content;
}

.backgroundImage{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: stretch;
  margin: center;
  width: 100%;
}

